*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(169, 128, 128);
}

#centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}